VITE_GOOGLE_MAPS_API_KEY=
RESEND_API_KEY=
BOOKING_FROM_EMAIL=Easy Lux <booking@your-domain.com>
BOOKING_TO_EMAIL=easyluxtransfer@gmail.com
BOOKING_INSTAGRAM_URL=
BOOKING_FACEBOOK_URL=
BOOKING_TIKTOK_URL=
